.card {
  max-width: 400px;
  padding: 30px;
  margin-top: 30px;
}
.header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}
.sticky-button {
  position: fixed;
  right: 30px;
  bottom: 20px;
}

.spacer {
  flex: 1 1 auto;
}
