a {
  text-decoration: none;
  color: white;
  padding: 10px;
}

a:hover,
a:active {
  color: lightgray;
}

.navigation-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

@media (max-width: 959px) {
  mat-toolbar {
    border-radius: 0px;
  }
}

.spacer {
  flex: 1 1 auto;
}

.home-icon{
  margin-right: 15px;
}
